@model hackathon_campus.Core.ViewModels.UserViewModel

@{
    ViewData["Title"] = Model.NickName;
}


<div class="card mb-2">
    <div class="card-body">
        <h3 class="card-title">@Model.FirstName @Model.LastName</h3>
    </div>
</div>

