@using hackathon_campus.Core.ViewModels;
@model IEnumerable<UserEventViewModel>

@{
    Layout = "_Layout";
}
@foreach (var eventModel in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="wrapper"><img src="1.jpg" class="card-img-top" alt="..."></div>
        <div class="card-body">
            <h5 class="card-title">Описание</h5>
            <p class="card-text">@eventModel.Title</p>
            @if (eventModel.IsOwnEvent)
            {
                <p class="card-text">Мое мероприятие</p>
            }
        </div>
        <div class="btnMore"><a href="@Url.Action("Details", "Event",new { eventId = eventModel.Id })"> Подробнее</a></div>
        <div class="btnPodpis">Подписаться</div>
    </div>
}