@using hackathon_campus.Core.ViewModels;

@model IEnumerable<CategoryViewModel>

@if (User.IsInRole("user"))
{

<a asp-controller="Category" asp-action="Create" class="date" style="background-color:#2185FB; color:white; padding-top:12px; text-align: center; ">Подать заявку</a>}
<div class="cotegorylist">
@foreach (var category in Model)
{
<div class="card mb-2">
    <div class="card-body">
        <a href="@Url.Action("Details", "Category", new { categoryId = category.Id, page = 1 })">
            <h5 class="card-title">@category.Name</h5>
        </a>
        <p class="card-text">@category.Description</p>
    </div>

</div>
<div class="cotegoryel">
            <a class="cotname"href="#">Name</a>
            <p class="opis">Opiafasfasfafasfa asf  assa</p>
            <label>1234</label>
</div> 

}
</div>