<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] = "Login";</title>
    @model hackathon_campus.Core.ViewModels.LoginViewModel
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    @{
        Layout = null;
    }
</head>
<body>
    <div>
        <a asp-action="Index" asp-controller="Main">To Home Page</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <form asp-action="Login" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="Email" type="text" maxlength="25" class="login" size="40" name="login" placeholder="Логин"></p>
                    <input asp-for="Password" type="password" class="form-control" class="password" maxlength="25" size="40" name="password" placeholder="Пароль"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="Login" class="btn btn-primary">Войти</button>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="RememberMe" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" asp-for="RememberMe" for="flexCheckDefault">
                            Запомнить меня
                        </label>
                    </div>
                    <a asp-controller="Account" asp-action="Registration" class="btn btn-secondary">Зарегистрироваться</a>
                </div>
            </div>
 
    </form>
</body>
</html>

