.btn-secondary {
    background: White;
    color: #2185FB;
    width: 100%;
    border-top: 1px solid #DEE7F1;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    
}

.btn-primary {
    background: #2185FB;
    color: white;
    width: 100%;
    margin-bottom: 70px;
}

.FIO {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.login {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.password {
    width: 100%;
    margin-bottom: 15px;
}

.form-check {
    color: #2185FB;
}